<form action="postaldisplay" method="get">
    <select name="postalType">
      <option value="lettersS">Letters Stamped</option>
      <option value="lettersM">Letters Metered</option>
      <option value="envelopes">Large Envelope</option>
      <option value="parcels">Parcel</option>
    </select><br/>
    <input type="text" name="weight" value="" placeholder="Item Weight"><br/>

    <br/>

    <input type="submit" value="SUBMIT">